.card-body,
.card-title,
.card-subtitle {
  background-color: white;
}
.card-title {
  word-break: break-all;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-weight: 600;
  font-size: large;
  color: black;
}
